# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# production
/build

# local environment
.env*
!.env.example

# logs and editor files
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts
